<!-- Include Header Component -->
<app-header></app-header>

<!-- Include Side Navigation Component -->
<app-sidenav></app-sidenav>


<br><br><br>

<main id="main" class="main">


  <section class="section dashboard">
    <div class="container">
      <div class="pagetitle">

        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>


      <div class="bg-body-secondary text-center py-5 rounded-2">
        <h1 class="dispay-6 fw-bold">Agendar uma Entrevista</h1>
      </div>
      <!-- ... Outras partes do seu HTML ... -->
   
      <div class="col-12">
        <div class="card recent-students overflow-auto">

          <div class="card-body">

            <div class="row">

            <form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="appointmentService.formSubmitted"
              novalidate autocomplete="off">

               <!-- Dispara mensagem de erro -->
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              
              <input type="hidden" name="id" [(ngModel)]="appointmentService.formData.id">

              <div class="row mb-4">
                <!-- Create Mode: Display Dropdown -->
                <div class="col" *ngIf="!appointmentService.formData.id || appointmentService.formData.id === 0">
                  <label class="form-label" for="alunoId">Nome do Aluno</label>
                  <select class="form-control" id="alunoId" name="alunoId"
                    [(ngModel)]="appointmentService.formData.alunoId">
                    <option value="" disabled>Escolha o aluno</option>
                    <option *ngFor="let student of appointmentService.students" [value]="student.id">{{student.nome}}
                    </option>
                  </select>
                </div>

                <!-- Update Mode: Display Disabled Text Input -->
                <div class="col" *ngIf="appointmentService.formData.id && appointmentService.formData.id !== 0">
                  <label class="form-label" for="studentName">Nome do Aluno</label>
                  <input type="text" id="studentName" class="form-control form-control-lg"
                    [value]="getStudentNameById(appointmentService.formData.alunoId)" disabled>
                  <input type="hidden" name="alunoId" [(ngModel)]="appointmentService.formData.alunoId">
                </div>

          
              </div>


              <div class="row mb-4">

              <div class="col">
                <label class="form-label" for="empresa">Empresa</label>
                <input type="text" id="empresa" name="empresa" [(ngModel)]="appointmentService.formData.empresa"
                  class="form-control" required>
              </div>

              <div class="col">
                <label class="form-label" for="numerodeEntrevistaFeitas">Nº Entrevistas</label>
                <input type="text" id="numerodeEntrevistaFeitas" class="form-control" name="numerodeEntrevistaFeitas"
                  [(ngModel)]="appointmentService.formData.numerodeEntrevistaFeitas" required>
              </div>

            </div>

              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" for="dataPrimeiroContacto">Data do Primeiro Contato</label>
                  <input type="datetime-local" id="dataPrimeiroContacto" name="dataPrimeiroContacto"
                    [(ngModel)]="appointmentService.formData.dataPrimeiroContacto" class="form-control" required>
                </div>

                <div class="col">
                  <label class="form-label" for="dataEntrevista">Data Entrevista</label>
                  <input type="datetime-local" id="dataEntrevista" name="dataEntrevista"
                    [(ngModel)]="appointmentService.formData.dataEntrevista" class="form-control" required>
                </div>
                
              </div>

              <div class="row mb-4">
                <div class="col">
                  <label class="form-label" for="vagaDisponivel">Nº de Vagas Desponível</label>
                  <input type="number" id="vagaDisponivel" name="vagaDisponivel"
                    [(ngModel)]="appointmentService.formData.vagaDisponivel" class="form-control" required>
                </div>

                <div class="col-12 mt-3">
                  <button class="btn btn-success w-100" type="submit">
                    {{ appointmentService.formData.id && appointmentService.formData.id != 0 ? 'Atualizar' : 'Registar'
                    }}
                  </button>
                </div>

                <div class="col-12 mt-2">
                  <p class="small mb-0">Already have an account? <a asp-controller="DashBoard" asp-action="Index">Log
                      in</a></p>
                </div>
              </div>
            </form>
          </div>
          </div>

        </div>


        <br>

        <div class="row">

          <div class="col-lg-12">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">



                <div class="card-body">
                  <h5 class="card-title">Datatables</h5>
                  <p>Lista de Alunos</p>

                  <!-- Table with stripped rows -->
                  <!-- Table with stripped rows -->
                  <table class="table datatable" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Nº entrevistas Feitas</th>
                        <th scope="col">Data 1º Contacto</th>
                        <th scope="col">Data Entrevista</th>
                        <th scope="col">Vaga Disponível</th>
                        <th scope="col">Acção</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entrevista of appointmentService.list">
                        <th scope="row">{{ entrevista.id }}</th>

                        <td><ng-container *ngFor="let student of appointmentService.students">
                            <div *ngIf="student.id == entrevista.alunoId" class="fw-bold" style="color:blueviolet;">
                              {{student.nome}}
                            </div>
                          </ng-container>
                        </td>

                        <td>{{ entrevista.empresa }}</td>
                        <td>{{ entrevista.numerodeEntrevistaFeitas }}</td>
                        <td>{{ entrevista.dataPrimeiroContacto }}</td>
                        <td>{{ entrevista.dataEntrevista }}</td>              
                        <td>{{ entrevista.vagaDisponivel }}</td>
                        <td>
                          <!-- Icone de edição -->
                          <span class="text-secondary mr-2 m-2">
                            <i class="fas fa-edit fa-lg mouse-hover" (click)="populateForm(entrevista)"></i>
                          </span>
                          <!-- Icone de excluir -->
                          <span class="text-danger">
                            <i class="fas fa-trash fa-lg mouse-hover" (click)="onDelete(entrevista.id)"></i>
                          </span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>


          </div><!-- End Left side columns -->