<p>appointment-delete works!</p>



<div class="chat-container">
  <div class="messages">
    <div *ngFor="let msg of messages" class="message">
      <strong>User ID: {{ msg.userId }}</strong> <span>({{ msg.timeSend | date:'shortTime' }})</span>:
      <p>{{ msg.message }}</p>
      <p>Appointment: {{ msg.appointId }}</p>
    </div>
  </div>

  
  <div>
    <h2>Adicionar Mensagem</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
     
        <input type="hidden" id="appointmentId" [(ngModel)]="appointmentId" name="appointmentId" required>
      </div>
      <div>
        <label for="message">Mensagem:</label>
        <textarea id="message" [(ngModel)]="message" name="message" required></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>   

</div>
