<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-footer">
            <a href="#">Show all messages</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img [src]="'/assets/img/profile-img.png'" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Nome do Utilizador</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>


        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <br><br>
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/registarAluno']">
        <i class="bi bi-menu-button-wide"></i><span>Alunos</span>
      </a>
    </li><!-- End Alunos Nav -->
    
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/registarEntrevista']">
        <i class="bi bi-menu-button-wide"></i><span>Entrevistas</span>
      </a>
    </li><!-- End Entrevistas Nav -->
    



  </ul>

</aside><!-- End Sidebar-->
<br><br><br>

<main id="main" class="main">


  <section class="section dashboard">
    <div class="container">

      <div class="pagetitle">

        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>

      <div class="bg-body-secondary text-center py-5 rounded-2">
        <h1 class="dispay-6 fw-bold">Agendar uma Entrevista</h1>
      </div>
      <!-- ... Outras partes do seu HTML ... -->

      <div class="col-12">
        <div class="card recent-students overflow-auto">
          <div class="card-body">
            <h5 class="card-title">Lista de Alunos</h5>

            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
            <p>appointment-edit works!</p>
            <form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="appointmentService.formSubmitted"
              novalidate autocomplete="off">

              <input type="hidden" name="id" [(ngModel)]="appointmentService.formData.id">

              <!-- Create Mode: Display Dropdown -->
              <div class="mb-3" *ngIf="!appointmentService.formData.id || appointmentService.formData.id === 0">
                <label>Nome do Aluno</label>
                <select class="form-control form-control-lg" name="alunoId"
                  [(ngModel)]="appointmentService.formData.alunoId">
                  <option value="" disabled>Escolha o aluno</option>
                  <option *ngFor="let student of appointmentService.students" [value]="student.id">{{student.nome}}
                  </option>
                </select>
                <input type="hidden" name="alunoId" [(ngModel)]="appointmentService.formData.alunoId">
              </div>


              <!-- Update Mode: Display Disabled Text Input -->
              <div class="mb-3" *ngIf="appointmentService.formData.id && appointmentService.formData.id !== 0">
                <label>Nome do Aluno</label>
                <input type="text" class="form-control form-control-lg"
                  [value]="getStudentNameById(appointmentService.formData.alunoId)" disabled>
                <input type="hidden" name="alunoId" [(ngModel)]="appointmentService.formData.alunoId">
              </div>



              <div class="mb-3">
                <label>Empresa</label>
                <input class="form-control form-control-lg" #empresa="ngModel" name="empresa"
                  [(ngModel)]="appointmentService.formData.empresa" required>
              </div>

              <div class="mb-3">
                <label>Data do Primeiro Contato</label>
                <input type="text" class="form-control form-control-lg" #dataPrimeiroContacto="ngModel"
                  name="dataPrimeiroContacto" [(ngModel)]="appointmentService.formData.dataPrimeiroContacto" required>
              </div>
              <div class="row">
                <div class="mb-3 col-6">
                  <label>Data da Entrevista</label>
                  <input type="text" class="form-control form-control-lg" #dataEntrevista="ngModel"
                    name="dataEntrevista" [(ngModel)]="appointmentService.formData.dataEntrevista" required>
                </div>

                <div class="mb-3 col-6">
                  <label>Vaga Disponível</label>
                  <input type="number" class="form-control form-control-lg" #vagaDisponivel="ngModel"
                    name="vagaDisponivel" [(ngModel)]="appointmentService.formData.vagaDisponivel" required>
                </div>
              </div>


              <div class="d-grid">
                <button class="btn btn-lg btn-success" type="submit">
                  {{ appointmentService.formData.id && appointmentService.formData.id != 0 ? 'Atualizar' : 'Registar' }}
                </button>
              </div>

            </form>




            <div class="row mt-5">

              <div class="col-6">
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3"
                    *ngFor="let pd of appointmentService.list">
                    <div class="flex-grow-1 mouse-hover" (click)="populateForm(pd)">
                      <div class="fw-bold">{{pd.empresa}}</div>
                      <div>{{pd.dataPrimeiroContacto}}</div>
                      <div>{{pd.dataEntrevista}}</div>
                      <div>{{pd.vagaDisponivel}}</div>

                      <ng-container *ngFor="let student of appointmentService.students">
                        <div *ngIf="student.id == pd.alunoId" class="fw-bold" style="color:blueviolet;">{{student.nome}}
                        </div>
                      </ng-container>

                    </div>
                    <span class="text-secondary">
                      <i class="fa-solid fa-trash-can fa-lg mouse-hover" (click)="onDelete(pd.id)"></i>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>