
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <br><br>
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/registarAluno']">
        <i class="bi bi-menu-button-wide"></i><span>Alunos</span>
      </a>
    </li><!-- End Alunos Nav -->
    
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/registarEntrevista']">
        <i class="bi bi-menu-button-wide"></i><span>Entrevistas</span>
      </a>
    </li><!-- End Entrevistas Nav -->
  </ul>

</aside><!-- End Sidebar-->